@keyframes fadeOutTop
  50%
    opacity: 1
  100%
    margin-top: -20px
    opacity: 0
  
@keyframes rayonRotate
  to
    transform: translate(-50%, -50%) rotate(360deg)

@keyframes radar
  to
    opacity: 0
    width: 40px
    height: 40px

@keyframes grand-sage-animation
  100%
    background-position: -4560px