body
  height: 100vh
  font-family: var(--font-press)
  color: var(--clr-black)
  overflow: hidden
  
#game-content
  height: 100vh
  background: var(--clr-white)
  background-image: url('~@/assets/images/bg/bg-nml.png')
  background-repeat: no-repeat
  background-size: cover
  transition: all var(--tr-du) ease
  &.l3tsg01
    background-image: url('~@/assets/images/bg/bg-dark-blue.png')
  &.cb0nc4
    background-image: url('~@/assets/images/bg/bg-supercoins.jpg')

.game
  width: 100%
  height: 100vh
  padding: 20px 20px 20px 20px

.options
  margin-bottom: 20px
  display: flex
  justify-content: space-between

.is-semi-white
  background-color: var(--clr-semi-white)
  backdrop-filter: blur(10px)

.is-semi-dark
  background-color: var(--clr-semi-black) !important
  backdrop-filter: blur(10px) !important

.is-white
  background-color: var(--clr-white)

#tooltip
  position: absolute
  z-index: 10
  max-width: 300px
