.saved
  justify-content: center
  align-items: center
  background: var(--clr-semi-black)
  color: white
  height: 50px
  width: 30vw
  border-radius: var(--bor-ra)
  display: none
  position: fixed
  bottom: 10px
  left: 50%
  transform: translateX(-50%)
  &.onsave
    display: flex