*
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none
  color: inherit
  outline: none

.nes-container.is-rounded
  border-image-repeat: stretch !important

.simplebar-track
  right: -20px !important