:root
  // FONTS
  --font-mali: 'Mali', cursive

  // COLORS
  --clr-black: #000
  --clr-semi-black: rgba(0,0,0, .6)
  --clr-semi-white: rgba(255,255,255, .6)
  --clr-white: #fff
  --clr-grey: #4D4D4D
  --clr-red: #e71010
  --clr-green: #2cc939
  --clr-pink: #FF1087

  // GLOBAL
  --tr-du: .3s
  --bor-ra: 10px